ToDoDb.db
.vscode/launch.json
.vscode/tasks.json
obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
bin/Debug/netcoreapp2.1/ToDoDiaryWeb.dll
bin/Debug/netcoreapp2.1/ToDoDiaryWeb.pdb
bin/Debug/netcoreapp2.1/ToDoDiaryWeb.Views.dll
bin/Debug/netcoreapp2.1/ToDoDiaryWeb.Views.pdb
obj/ToDoDiaryWeb.csproj.nuget.cache
obj/ToDoDiaryWeb.csproj.nuget.g.props
obj/project.assets.json
obj/Debug/netcoreapp2.1/ToDoDiaryWeb.dll
obj/Debug/netcoreapp2.1/ToDoDiaryWeb.pdb
obj/Debug/netcoreapp2.1/ToDoDiaryWeb.Views.dll
obj/Debug/netcoreapp2.1/ToDoDiaryWeb.Views.pdb
obj/Debug/netcoreapp2.1/ToDoDiaryWeb.assets.cache
obj/Debug/netcoreapp2.1/ToDoDiaryWeb.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Home/About.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Home/Contact.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Home/CreateToDo.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Home/Privacy.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
bin/Debug/netcoreapp2.1/ToDoDiaryWeb.dll
bin/Debug/netcoreapp2.1/ToDoDiaryWeb.pdb
obj/Debug/netcoreapp2.1/ToDoDiaryWeb.dll
obj/Debug/netcoreapp2.1/ToDoDiaryWeb.pdb
bin/Debug/netcoreapp2.1/ToDoDiaryWeb.dll
bin/Debug/netcoreapp2.1/ToDoDiaryWeb.pdb
obj/Debug/netcoreapp2.1/ToDoDiaryWeb.dll
obj/Debug/netcoreapp2.1/ToDoDiaryWeb.pdb
