
body{
    background-color: #f8f8f8;
}
.nothing{
    text-align: center;
}
.add-workout{
    background-color: #f8f8f8 !important;
}
.home-page{
    background-color: #e9ecef !important;
}
.mobile{
    max-width: 100%;
}
.textJump{
    text-align: center;
}