 <div class="card">
    <div class="card-body">
        <h5 class="card-tittle">Choose date</h5>
        <form method="POST" asp-controller="ToDo" id="formAjaxEx"  asp-action="ChooseDate">
            <div class="form-group">
                <input name="date" required="" type="text"  onchange="sendRequest()" value="@ViewData["DateToDo"]" class="form-control"
                       placeholder="Choose day" onfocus="(this.type='date')" />
             </div>
             
         </form>
     </div>
 </div>
<script>
    
    var form = document.getElementById("formAjaxEx");

   
    form.submit.addEventListener("click",sendRequest);

    function sendRequest(event){
     
        
        
        var formData = new FormData(form);
 
        var request = new XMLHttpRequest();
 
        request.open("POST", form.action);
     
        request.onreadystatechange = function () {
            if (request.readyState == 4 && request.status == 200)
                document.getElementById("output").innerHTML=request.responseText;
        }
        request.send(formData);
    }
</script>