@model IEnumerable<ToDo>
    @{
    ViewData["Title"] = "Home Page";
    }

    @if(User.Identity.IsAuthenticated){



    <div class="row">
        <div class="col-3">
            @HtmlHelperPartialExtensions.Partial(Html, "_ChooseDate")
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Click to add task</h5>
                    <a class="btn btn-primary " asp-controller="ToDo" asp-action="CreateToDo">Add task</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Display tasks</h5>
                    <h6 class="card-subtitle mb-2 text-muted">All/Not finished</h6>
                    <div class="dropdown form-group">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (ViewData["Show"].Equals("All"))
                            {
                            <span>Show all</span>
                            }
                            else
                            {
                            <span>Show only not finished</span>
                            }
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" asp-controller="ToDo" asp-action="ChangeViewtoAll">Show all</a>
                            <a class="dropdown-item" asp-controller="ToDo" asp-action="ChangeViewtoFalse" >Show only not finished</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8" id="output">
           @Html.Partial("_ListofTodo")
        </div>
    </div>
    }
    else
    {
        <h3>Please <a asp-controller="Account" asp-action="Login">Login</a> or <a asp-controller="Account" asp-action="Register">Register</a></h3>
    }