@model ToDo_Diary.ViewModels.ExerciseViewModel



<div class="card">
    <div class="card-header">Select muscle group to display</div>
    <div class="card-body">
    
        <form method="post" asp-controller="Exercise" asp-action="ChangeStance">
            <div class="form-group">
                <select class="form-control" required="" asp-for="Stance" asp-items="@(new SelectList(Model.MuscleGroups, "Id", "Name"))">
                    <option selected="selected" >Show all</option>
                </select>
            </div>    
                <input type="submit" class="btn btn-primary" value="Show"/>
            
        </form>
           
        </div>
</div>
