@model ToDoDiaryWeb.Models.Exercise

@{
    ViewBag.Title = "Add Exercise";
    Layout = "_Layout";
}

<h2>Add Exercise</h2>
<form asp-action="Add" asp-controller="Exercise">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" required=""/>
    </div>
    <div class="form-group">
        <label asp-for="Technique"></label>
        <textarea class="form-control" asp-for="Technique"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="VideoUrl"></label>
        <input class="form-control"  asp-for="VideoUrl"/>
    </div>
    <div class="form-group">
        <label asp-for="ImgUrl"></label>
        <input class="form-control"  asp-for="ImgUrl"/>
    </div>
    <div class="form-group">
        <label asp-for="MuscleGroupId"></label>
        <select class="form-control" asp-for="MuscleGroupId"  required="" asp-items="@(new SelectList(ViewBag.MuscleGroups, "Id", "Name"))">
           
        </select>
    </div>
    <input type="submit" value="Add" class="btn btn-primary"/>
</form>
