@model ToDo_Diary.ViewModels.ExerciseViewModel

@{
    ViewBag.Title = "List of Exercises";
    Layout = "_Layout";
}

<div class="row">
   
    <div class="col mobile">
        @Html.Partial("pvGroup")
        @if(User.IsInRole("admin")){
            <div class="card">
                <div class="card-header">Click to add exercise</div>
                <div class="card-body">
                    <a asp-action="Add" asp-controller="Exercise" class="btn btn-primary">Add</a>
                </div>
           
            </div>
        }
    </div>
   
    <div class="col-8 mobile" id="output">
       
    </div>
    <script src="js/ExercuseLoad.js">

    </script>
</div>

