@model ToDo_Diary.ViewModels.ExerciseViewModel



<div class="card">
    <div class="card-header">Select muscle group to display</div>
    <div class="card-body">
    
        <form name="formAjaxEx" method="post" asp-controller="Exercise" asp-action="ChangeStance" id="formAjaxEx">
            <div class="form-group">
                <select class="form-control" onchange="sendRequest()" required="" asp-for="Stance" asp-items="@(new SelectList(Model.MuscleGroups, "Id", "Name"))">
                    <option selected="selected" >Show all</option>
                </select>
            </div>    
            
            
        </form>
           
    </div>
</div>
<script src="js/changedate.js">
    </script>
